
{% macro define_issue_class(issue) %}
    {% if not issue.abstract %}
void {{ issue.name }}::header(std::ostream& str, [[maybe_unused]] SourceContext const* ctx) const {
    {{ issue.header }}
}
    {% endif %}
{% endmacro %}


{% for issue in issues %}
{% if not issue.decl_only %}
{{ define_issue_class(issue) }}
{% endif %}
{% endfor %}
