
{% macro define_ctor(issue) %}

{% if issue.members %}
{% set comma_if_members = ', ' %}
{% else %}
{% set comma_if_members = '' %}
{% endif %}

explicit {{ issue.name }}(
    {% if not issue.no_source -%}
    SourceContext const* ctx, Facet const* facet
        {{ comma_if_members }}
    {%- endif %}
        {{- issue.members | map('issue_member_ctor_param') | join(', ') -}}
    );
{% endmacro %}

{% macro define_issue_class(issue) %}

/// {{ issue.comment }}
class {{ issue.name }}: public {{ issue.base }} {
{% if not issue.abstract %}
public:
    {{ define_ctor(issue) }}

private:
    void header(std::ostream& str, SourceContext const* ctx) const override;

    {% for member in issue.members %}
        {% if not member.ctor_only %}
    {{ member.type }} {{ member.name }};
        {% endif %}
    {% endfor %}
    
{% endif %}
};
    
{% endmacro %}

namespace prism {
    
    {% for issue in issues %}
    {% if not issue.decl_only %}
    {{ define_issue_class(issue) }}
    {% endif %}
    {% endfor %}
    
}
